@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 256px;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
